.imagensPizza {
    width: 500px;
    height: 300px;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}
.secaoBotoes {
    display: flex;
    gap: 10px;
}
.botoesPizza {
    background-color: #FDCE2A;
    border: 0px;
    border-radius: 2%;
}